<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.toastkid.calendar">

    <application
        android:name=".ExtendedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".calendar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".settings.color.ColorSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".settings.background.BackgroundSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".about.AboutThisAppActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />

    </application>

</manifest>