<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.toastkid.calendar">

    <application
        android:name=".ExtendedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".calendar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.color.ColorSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".settings.background.BackgroundSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".about.AboutThisAppActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".launcher.LauncherActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            />
        <receiver android:name=".appwidget.search.Provider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
        <receiver
            android:name=".appwidget.search.Receiver"
            android:label="@string/app_widget_name_search" >
            <intent-filter>
                <action android:name="UPDATE_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
        <receiver android:name=".calendar.alarm.DailyCalendarReceiver" android:process=":remote" />
        <receiver android:name=".calendar.alarm.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>